player-connection-mode=Listen
player-connection-guid=4289837940
player-connection-debug=0
player-connection-project-name=My project (2)
player-connection-ip=192.168.27.1
player-connection-ip=192.168.121.1
player-connection-ip=172.20.10.7
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=f8db61c3d5214c138210d73ed72b468a
